---
layout: default
---
<div class="cats-wrapper">

<div class='tags-list'>
  {% assign tags_list = site.categories %}

  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
      <a href="#{{ tag | slugify }}" class="post-tag">
        {{ tag }} <span class='badge'>({{ site.categories[tag].size }})</span>
      </a>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %}
      <a href="#{{ tag[0] | slugify }}" class="post-tag">
        {{ tag[0] }} <span class='badge'>({{ tag[1].size }})</span>
      </a>
    {% endfor %}
  {% endif %}

  {% assign tags_list = nil %}
</div>

  <hr/>

</div>